@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i%20|%20Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%20|%20Hind:300,400,500,600,700');

*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Poppins",sans-serif;
	background-color: #eee7;
}

a{
	text-decoration: none;
}

::-moz-selection {
	color: #fff;
	background-color: rgba(255, 0, 4, 1);
}

::selection {
	color: #fff;
	background-color: rgba(255, 0, 4, 1);
}

/* Preloader */

.load-cont{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
    height: 100%;
	background-color: #01172d;
	position: fixed;
    z-index: 100000;
	transition: 0.3s;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading-cont{
	display: flex;
    justify-content: center;
    align-items: center;
	transition: 0.3s;
}

.loading{
	width: 4rem;
    height: 4rem;
    border-width: 0 1px 1px 0;
    border-style: dashed;
    border-color: rgba(255, 0, 4, 1);
    border-radius: 100%;
    animation-name: spinner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes spinner{

    0%{ transform: rotate(360deg); border-width: 0 1px 1px 0; }
    50%{ transform: rotate(0deg); border-width: 4px 5px 5px 4px; }
    100%{ transform: rotate(-360deg); border-width: 0 1px 1px 0; }

}

.hide{
	animation-name: hide;
    animation-duration: 2s;
}

@keyframes hide{
	from{ opacity: 1; }
	to{ opacity: 0; }

}

/* Preloader */

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}

.header-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #01172d;
	padding: 6px 0;
	border-bottom: 2px solid rgba(255, 0, 4, 1);
}

.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 980px;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.header-logo-cont{
	display: inline-flex;
	justify-content: space-between;
}

.logo-cont-cont{
	align-self: center;
	margin-right: 12px;
}

.logo-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 100%;
	max-width: 40px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 100%;
}

.header-logo-cont a{
	display: flex;
	padding: 0 ;
}

/* mobile-nav */
.mobile-nav{
	display: none;
	align-items: center;
}

.menu-toggle-cont{
	display: flex;
    flex-direction: column;
    cursor: pointer;
	transition: 0.3s;
}

.menu-toggle{
	width: 30px;
	border: 1px solid #fff;
    padding: 1px 0;
    background-color: #fff;
    margin: 3.5px 0;
	border-radius: 5px;
    transition: 0.3s;
}

.flip-toggle .top{
	transform: rotate(45deg) translate(8px, 8px);
}

.flip-toggle .mid{
	opacity: 0;
}

.flip-toggle .bottom{
	transform: rotate(-45deg) translate(8px, -8px); 
}
/* mobile-nav */

.site-title-cont h1{
	color: #fff;
	font-size: 1.4rem;
	font-family: Montserrat,sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	transition: 0.3s;
}

.site-title-cont h1:hover{
	transform: translateX(5px);
}

.site-title-cont h1 a{
	color: #fff;
}

.header-logo{
	user-select: none;
	max-width: 100%;
}

.Highlights-info-cont{
	margin: auto;
}

.football-league-info-cont{
	display: flex;
	margin: auto;
	margin-top: 6rem;
	width: 980px;
	max-width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.match-highlights-cont{
	display: flex;
	width: 100%;
	/* background-color: red; */
	flex-direction: column;
}

.search-engine-box-cont{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px #f3eded;
	padding: 20px;
	padding-top: 0;
	border-radius: 15px;
	margin-bottom: 2rem;
}

.search-engine-box-title-cont h3{
	font-weight: 400;
	font-family: Montserrat,sans-serif;
}

.search-engine-cont{
	display: flex;
	width: 100%;
}

.search-input{
	display: flex;
	position: relative;
	outline: none;
	border: 1px solid transparent;
	width: 100%;
	font-size: 1rem;
	font-family: "Poppins",sans-serif;
	padding: 8px;
	padding-left: 2.5rem;
	border-radius: 20px;
	background-color: #f2f2f2;
	transition: 0.3s;
}

.search-btn{
	position: absolute;
	display: flex;
	align-self: center;
	background-color: transparent;
	border: none;
	border-radius: 20px;
	padding: 10px 12px;
	cursor: pointer;
	transition: 0.3s;
}

.search-input:focus{
	border: 1px solid rgba(255, 0, 0, 0.5);
}

.fa-search{
	align-self: center;
	font-size: 1.2rem;
	color: rgb(83, 100, 113);
	transition: 0.3s;
}

.search-input:focus + .search-btn > .fa-search{
	color: rgba(255, 0, 0, 0.5);
}

.match-highlight-box-cont, .notFound-cont{
	display: flex;
	flex-direction: column;
	background-color: #fff;
	width: 100%;
	box-shadow: 0 0 10px #f3eded;
	border-radius: 15px;
	margin-bottom: 2rem;
}

.notFound-cont{
	display: none;
}

.match-highlight-title-cont, .notFound-msg-cont{
	margin-left: 1rem;
	padding-bottom: 20px;
}

.match-highlight-title-cont h1, .notFound-msg-cont h1{
	font-size: 1.2rem;
	cursor: pointer;
	transition: 0.3s;
}

.match-highlight-title-cont h1 a, .competition-title, .notFound-msg-cont h1{
	color: rgb(178,34,34);
}

.match-highlight-title-cont h1:hover{
	transform: translateX(5px);
}

.match-highlight-teams-cont{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-top: 1px dashed #f2f2f2;
	border-bottom: 1px dashed #f2f2f2;
	cursor: pointer;
	transition: 0.3s;
}

.match-highlight-teams-cont:last-child{
	margin-bottom: 4rem;
}

.match-highlight-teams-cont:hover{
	background-color: #f8f8f8;
}

.match-highlight-teams{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 0;
	flex-direction: column;
}

.match-highlight-teams span{
	text-align: center;
}

.match-highlight-vid-cont{
	max-height: 0;
	overflow: hidden;
	transition: 0.3s;
}

.competition-title{
	font-size: 2rem;
	font-weight: 900;
	font-family: Montserrat,sans-serif;
}

.football-league-nav-cont{
	width: 100%;
	max-width: 300px;
	/* background-color: red; */
}

.side-bar-cont{
	position: fixed;
	padding: 0 16px;
	overflow-y: auto;
	width: 300px;
	/* max-width: 300px; */
	height: 100%;
	padding-bottom: 8rem;
}

.side-bar-contents-cont{
	display: flex;
	background-color: #fff;
	box-shadow: 0 0 10px #f3eded;
	flex-direction: column;
	border-radius: 15px;
}

.side-bar-list-cont{
	display: flex;
	list-style: none;
	flex-direction: column;
	margin-top: 0;
	padding-top: 0;
	padding-left: 20px;
	padding-right: 20px;
}

.list-title-cont h1{
	color: rgb(178,34,34);
	font-size: 0.9rem;
	transition: 0.3s;
}

.list-links{
	transition: 0.3s;
	font-weight: 300;
	margin-bottom: 2px;
}

.list-links a{
	font-size: 15px;
	border-radius: 20px;
	display: flex;
	padding: 8px;
	color: #000;
	transition: 0.3s;
}

.list-links a:hover{
	background-color: #f0f0f0;
}

/* scrollTop */

.scrollTop-cont{
	position: fixed;
	right: 0;
	bottom: 5.1rem;
	background-color: rgba(255, 0, 4, 1);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	cursor: pointer;
	transform: translateX(3rem);
	transition: 0.3s;
	z-index: 15;
}

.fa-arrow-right{
	transform: rotate(-90deg);
	color: #fff;
	font-size: 1.3rem;
}

.scrollTop-cont:hover .fa-arrow-right{
	animation-name: moveScrollTopArrow;
	animation-duration: 1.2s;
	animation-iteration-count: infinite;
	border-color: #000;
}

@keyframes moveScrollTopArrow{
	0%{ transform: translateY(0) rotate(-90deg); }
	50%{ transform: translateY(-5px) rotate(-90deg); }
	100%{ transform: translateY(0) rotate(-90deg); }
}

/* scrollTop */